p{color:navy;
}
.putu{
	color:magenta;
	
}
.lalu{
color:#980000;
}
.text{
	border:1px solid red;
	margin:10px;
	padding:10px;
	border-radius:15px;
	background:white;
}
.full{
width:90%;
margin:0 auto;
background:#F0F0F0 ;

}
.header{
height:50px;
background:#CCCC33;
color:blue;
text-align:center;

}
.menue{
	width:auto;
	border:3px solid #fd8a17;
	border-radius:3px;
	background:#f7f7f7f7;  
	font-family:'Oswald', sans-serif;
	line-height: 1;
	box-shadow: 1px 1px 0 #df7002, 2px 2px 0 #df7002, 3px 3px 3px rgba(0, 0, 0, 0.35);
}
.menue ul{ 
  text-align: center;
	
	)
}
.menue ul li{
		float:left;
		list-style:none;
		display:inline-block;
		float:none;
		
			
}
.menue ul li a{
  padding: 10px 15px;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fd8a17;
}

.menue ul li a #active a{color: #444444;}
.menue ul li a:hover{color: #444444;}
.body{}
.footer{
width:auto;
	border:1px solid gray;
	margin:2px;
	padding:2px;
	background:gray;
	border-radius:10px;
	
	
}
.fright{
text-align:left;
float:left;
	


}
.fleft{


	
	
}
.fleft ul{
		
		
		display:inline-block;
		float:none;
;}
.fleft ul li{
float:right;
list-style:none;

}
.fleft ul li a{
	padding: 5px 7px;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fd8a17;

}
.fleft ul li a:hover{color:black;}
#welcome{
color:green;
text-align: center;

}